*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  min-height: 100vh;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.app-logo {
  width: 5rem;
  aspect-ratio: 1 / 1;
  margin-bottom: 0.4rem;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.4rem;
}

.header__heading-primary {
  font-size: 1.5rem;
}

.input-form {
  display: grid;
  gap: 1rem;
  text-align: left;
  max-width: 35rem;
  width: 100%;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

.user-inputs {
  display: flex;
  flex-direction: column;
}

.user-inputs label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.user-inputs input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #76c0ae;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #c2e9e0;
  font-size: 1rem;
}

.user-inputs input:focus {
  outline: 1px solid #303b37;
}

.result {
  max-width: 45rem;
  margin: 2rem auto;
  table-layout: fixed;
  border-spacing: 0.6rem;
  text-align: right;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  padding: 0.3rem;
}

.result thead {
  font-size: 0.7rem;
}

.result tbody {
  font-size: 0.65rem;
}

/* /////////////////////////////////////////// */

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  th,
  td {
    padding: 0.6rem;
  }

  .result thead {
    font-size: 1rem;
  }

  .result tbody {
    font-size: 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .input-form {
    grid-template-columns: repeat(2, 1fr);
  }

  .user-inputs label {
    font-size: 1rem;
  }

  .user-inputs input {
    font-size: 1.2rem;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
